.container{ 
    text-align: center;
    background-color: beige;
    font-size: 1.4em;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    border: 2px red solid;
    padding-top: 10px;
}

button{
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aliceblue;
    border: 2px red solid;
    border-radius: 5px;
}

input{
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}